<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% if page.title %} {{ page.title }} | {% endif %} Tony McGee</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans" type="text/css" media="all">
<link rel="stylesheet" href="/assets/css/bootstrap.yeti.css" />
<link rel="stylesheet" href="/assets/css/syntax.css" />
<link rel="stylesheet" href="/assets/css/site.css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tony McGee</a>
    </div>
    <div class="navbar-header navbar-right hidden-xs">
      <ul class="nav navbar-nav">
        <li><a href="/about.html">About Me</a></li>
        <li><a href="/rss.xml"><img src="/assets/img/rss-icon16.png" alt="RSS Feed"></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {{ content }}
  <footer>
  </footer>
</div>
{% include analytics.html %}

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</body>
</html>

